.login-container, .login-container div,
.register-container, .register-container div {
  display: flex; 
  align-items: center;
  justify-content:center;
}

.inner-container {
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 2em;
}

.inner-container input {
  margin-bottom: 1em;
}

.homepage {
  display: flex;
  justify-content: center;
}

.feed {
  width: 30vw;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.card {
  border-radius: 0px !important;
}

.tweet {
  flex-direction: row !important;
  padding: 0 1em !important;
  justify-content: center;
  align-items: center;
  border-bottom: 0 !important;
}

.right {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  padding-bottom: 5px !important;
}

.right p {
  font-family:Arial, Helvetica, sans-serif;
}

.top p {
  margin-bottom: 0px;
  color: rgb(65, 65, 65);
}

i {
  padding-right: 5px;
}

#user-name {
  font-weight: bold;
  color: black;
}

.extra-info {
  display: flex;
  margin-left: 10px;
}

.buffer-character {
  padding: 0 5px;
}

.left {
  margin-top: 1em;
  margin-right: 1em;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.whatshappening-container {
  width: -webkit-fill-available;
}

.whatshappening-container input {
  border: 0;
  border-bottom: 1px solid gray;
}

#send-tweet {
  margin: 5px;
  border-radius: 20px;
  padding: 5px 30px;
}